.node {
    position: absolute;
    background: #cdcdcd;

    width: 300px;
    height: 300px;
    overflow: hidden;

        
    &.minimized {
        width: 30px;
        height: 30px;
    }

    .top {
        background: #232323;
        height: 20px;
        cursor: pointer;
    }

    .content {
        padding: 10px 10px;
        height: auto;

    }

    .scroll-box {
        overflow-y: scroll;
        height: calc(100% - 20px);
    }

    .resizeable{
        position: absolute;
        background:#cdcdcd;
        width:10px;
        height:10px;
        border-right:3px solid #232323;
        border-bottom:3px solid #232323;
        left: calc(100% - 17px);
        top: calc(100% - 17px);
        cursor: pointer;
    }
}

